PRODUCTION=
LOG_LEVEL=
PORT=3000
TZ=America/Sao_Paulo

# Exchange rates provider
EXCHANGE_RATES_API_URL=
EXCHANGE_RATES_API_KEY=
EXCHANGE_RATES_BASE_CURRENCY=USD

# Cache (segundos)
RATES_CACHE_TTL=3600
